body {
    text-align: center;
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif
}

/* .Bailey {
    background-color: lightgreen;
} */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  